
#title,
#description {
	z-index: 0;
	color: #484848;
}

#title {
	transform: translate(0%, -125%);
	font-size: 2rem;
	text-transform: uppercase;
}

#description {
	font-size: 1.125rem;
}


/* Hide cards' checkboxes */

.card-checkbox { display: none; }


/*Study Page widths*/


/* Cards */
.studycard {
	box-sizing: border-box;
	position: fixed;
	top: 90%; /*peek from screen bottom*/
	width: 100%;
	height: 40%;
	padding: 1rem;
	transform: rotate(-2deg);
	z-index: 0;
	color: #181818;
	/*box-shadow: 0 0 16px rgba(0,0,0,.25);*/
	transition: all .75s;
	/*CARD stuff*/
	flex-direction: column;
	word-wrap: break-word;
	background-clip: border-box;
	border-radius: 8px;
	margin-bottom: 4px;
	box-shadow: 0px 3px 5px rgb(0 0 0 / 50%);
	border: 1px solid #726A53;
	background-color: #F8F5ED;
}

.studycard img{
	max-height: 50%;
	max-width: 14vw;
}
#flipcard .card-body {
	height: 100%;
	//border: dashed blue;
	position: relative;
	display: flex;
}

#flipcard .card-body .flex-container {
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}
#flipcard .card-body .flex-container .content > div {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	height: 85%;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-container .content .btn {
	width: fit-content; /* keeps button normal sized */
}
/* Card dec*/

%first-card-in-deck {
	transform: rotate(2deg);
	z-index: 2;
	/*background-color: #fff;*/
}

%second-card-in-deck {
	z-index: 1;
	transform: rotate(0);
	/* background-color: #eee; */
}

.card-checkbox:first-of-type + .studycard {
	@extend %first-card-in-deck;
}

.card-checkbox:nth-of-type(2) + .studycard {
	@extend %second-card-in-deck;
}


/* Active card */

.card-checkbox:checked + .studycard {
	/*	margin-top: -10%;*/
	/*position: absolute;*/
	transform: translate(0%, 10%);
	transform: rotate(0);
	top: 45%;
	background-color: #fff;
}

/* Modify deck when certain cards are active so that the deck looks always the same (except if there isn't enough cards)*/

.card-checkbox:first-of-type:checked ~ .card-checkbox:nth-of-type(2) + .studycard {
	@extend %first-card-in-deck;
}

.card-checkbox:first-of-type:checked ~ .card-checkbox:nth-of-type(3) + .studycard {
	@extend %second-card-in-deck;
}

.card-checkbox:nth-of-type(2):checked ~ .card-checkbox:nth-of-type(3) + .studycard {
	@extend %second-card-in-deck;
}



/* Navigation*/
#deck-nav{
	width:80%;
}


#nav { /*TODO is this block being used?*/
	display: flex;
	flex-wrap: wrap;
	// justify-content: center;
	padding-left: 0;
	list-style: none;
	font-size: .95rem;
	color: #000000;


	li:not(.lowercase) { text-transform: uppercase; }

	label {
		display: block;
		// padding: .75rem 1.25rem;
		padding-right: 1.25rem;
		cursor: pointer;
		transition: color .25s;

		&:hover {
			color: #007bff;
			text-decoration: underline;
		}
	}
}

.flex-container{
	display: flex;
}
/* ///////////////////////////////////////////////////// */
/* MEDIA QUERIES BEGIN */

/* large desktop */
@media (min-width: 1180px){
	#deck-nav{
		width:50%;
		z-index:4;
	}
	.study-box{
		position: absolute;
		height: 100%;
		width: 50%; /*50% at Large Desktop*/
		z-index: 2;
	}
	#study{
		max-width: 100%;
		display:flex;
		align-items: center;
		flex-direction: column;
		border: brown;
		border: dashed;
	}
	.studycard{
		height: 40%;
		width: 50%;
	}
	#study>nav{
		width:50%
	}
	#description{
		display: none;
	}
}

/* Media query for Tablet 992 */
@media screen and (min-width: 768px) and (max-width: 1179.98px){
	#deck-nav{
		width:69%;
		z-index:4;
	}
	#study{
		max-width: 100%;
		display:flex;
		flex-direction: column;
		align-items: center;
		border: brown;
		border: dashed;
	}
	#study>nav{
		/*background-color: red;*/
		width:69%
	}
	.study-box{
		position: absolute;
		height: 100%;
		width: 69%; /*50% at Large Desktop*/
		z-index: 2;
	}
	.container .col-md-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.studycard{
		height: 40%;
		width: 69%;
	}
	.studycard img{
		max-height: 100%;
		max-width: 100%;
	}
	#study.studycard .card-body{
		height: 100%;
	}
	#description{
		display:none;
	}
}

/* Media query for phone */
@media screen and (min-width: 600px) and (max-width:767.98px){
	#study{
		max-width: 100%;
		display:flex;
		flex-direction: column;
		align-items: center;
		border: brown;
		border: dashed;
	}
	#study>nav{
		width:76%;
	}
	.study-box{
		position: absolute;
		height: 100%;
		width: 76%; /*50% at Large Desktop*/
		z-index: 2;
	}
	#deck-nav{
		width:76%;
		z-index: 4;
	}
	h1.display-4{
		font-size: 2.5rem;
	}
	#nav label:hover {
		color: #007bff;
		text-decoration: underline;
	}
	h2{
		font-size: 1.75rem;
	}
	.container .col-lg-5{
		padding-right:0%;
		padding-left: 0%;
	}
	#study.studycard{/*BOTTOM CARD STACK*/
		width: 76%;
	}
	.card-checkbox:checked + .studycard {
		margin-top: 0%;
		transform: rotate(0);
		top: 45%;
		background-color: #fff;
		width: 76%;
	}
	#description{
		display:none;
	}
}

/* frackin duo*/
@media screen and (max-width: 599.98px){
	#study{
		max-width: 100%;
		display:flex;
		flex-direction: column;
		align-items: center;
		border: brown;
		border: dashed;
	}
	#study>nav{
		width:80%;
	}
	.study-box{
		position: absolute;
		height: 100%;
		width: 80%;
		z-index: 2;
	}
	#deck-nav{
		width:80%;
		z-index: 4;
	}
	h1.display-4{
		font-size: 2.5rem;
	}
	#nav label:hover {
		color: #007bff;
		text-decoration: underline;
	}
	h2{
		font-size: 1.75rem;
	}
	.container .col-lg-5{
		padding-right:0%;
		padding-left: 0%;
	}
	#study.studycard{
		width: 80%;
	}
	.card-checkbox:checked + .studycard {
		margin-top: 0%;
		transform: rotate(0);
		top: 45%;
		background-color: #fff;
		width: 80%;
	}
	#description{
		display:none
	}
}
/*TODO - RADICAL UI redesign for small tablet and phone sizes...*/
/*...logo / title on side...next prev arrow buttons on other side*/
