.carddesign {
    top:0%;
    right:0%;
    /*height:75%;*/
    border-radius:8px;
    margin-bottom:4px;
    box-shadow: 0px 3px 5px rgba(0,0,0,.5);

    border:1px solid #726A53;
    background-color:#F8F5ED;
    overflow:hidden;
    padding:8px;
    box-sizing:border-box;
    transition: 0.6s;
    font-size:18px;
    z-index:0;
}
.back-color{
    background-color:#343a40;
}
.card-body{
    /*height: 305px;*/
    border: dashed;
    border-color: blue;
    position: relative;
    display: flex;
}
.card-body .flex-container{
    /*position: absolute;*/
    /*display: flex;*/
    flex-direction: row;
    justify-content: space-between;
}
.card-body .flex-container > div{
   /* width: 230px;*/

}
.card-body .flex-column{
    display: flex;
    flex-direction: column;
}
.flex-container .content > div{
    /*max-width: 40%;*/
    display: flex;
     flex-wrap: wrap;
}
.card-title{
    font-size: 3vh;
}
.flex-container .content .card-text{
    /* flex: 50%;*/
    font-size: 2vh;
}
.flex-container .content .btn{
    /*flex: 5%;*/
}
.deck-body{
    padding: 1.25rem;
}
.button-bottom{
    position:absolute;
    width:90%;
    bottom:15px;
}
