.carddesign {
    top:0%;
    right:0%;
    /*height:75%;*/
    border-radius:8px;
    margin-bottom:4px;
    box-shadow: 0px 3px 5px rgba(0,0,0,.5);

    border:1px solid #726A53;
    background-color:#F8F5ED;
    overflow:hidden;
    padding:8px;
    box-sizing:border-box;
    transition: 0.6s;
    font-size:18px;
    z-index:0;
}
.back-color{
    background-color:#343a40;
}
.card-body{
    height: 305px;
}
.deck-body{
    padding: 1.25rem;
}
.button-bottom{
    position:absolute;
    width:90%;
    bottom:15px;
}
