//MODILE DEFAULT VIEW 390x844
#create-deck-button{
    display: flex;
    margin-bottom: 4vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.round{
    width: 100%;
}
.deck{
    display: flex;
    position: relative;
    width: 78vw;////////////////////
    height: 110vw;
    margin-bottom: 8%;
}
.deck-container{
    width: 82%;//////////////////////
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: dashed black;
}
.flashcard {
    width: 33vh;//////////////////////
    position: absolute;
    top:0%;
    right:0%;
    height:100%;
    border-radius:8px;
    margin-bottom:4px;
    box-shadow: 0px 3px 5px rgba(0,0,0,.5);

    border:1px solid #726A53;
    background-color:#F8F5ED;
    overflow:hidden;
    padding:8px;
    box-sizing:border-box;
    transition: 0.6s;
    font-size:18px;
    z-index:0;
}


/*TODO IMPORTED from external css files */
.flashcard.card-body {
    height: 305px;
    border: dashed;
    border-color: blue;
    position: relative;
    display: flex;
}
p.card-text{
    font-size: small;
}
.container-4-deck-container{
    flex-wrap:wrap;
}


////////////////////////////////////////////////////////////////NEW MEDIA BELOW THIS LINE
/* Media Query for Mobile Devices */

@media (max-width: 280px){
    body{
        background-color: lightcoral;
    }
}
@media (min-width: 281px) and (max-width: 480px) {
    body {
        background-color: red;
    }
    p.card-text{
        font-size: inherit;
    }
    #create-deck-button{
        display: flex;
        margin-bottom: 4vh;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .round{
        width: 100%;
    }
    .deck{
        display: flex;
        position: relative;
        width: 95%; /////////////////////////
        height: 100vw;
        margin-bottom: 8%;
    }
    .deck-container{
        width: 93%;////////////////////////////
        margin-bottom: 24px;
        margin-left: auto;
        margin-right:auto;
        padding: 0;
        border: dashed black;
    }
    .flashcard {
        width: 95%;//////////////////////////
        position: absolute;
       // top:0%;
       // right:0%;
        height:100%;
        border-radius:8px;
        margin-bottom:4px;
        box-shadow: 0px 3px 5px rgba(0,0,0,.5);

        border:1px solid #726A53;
        background-color:#F8F5ED;
        overflow:hidden;
        padding:8px;
        box-sizing:border-box;
        transition: 0.6s;
        font-size:18px;
        z-index:0;
    }
    .container-4-deck-container{
        display:flex;
        max-width: 100%;
        justify-content: space-around;
    }

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
    }
    #create-deck-button{
        display: flex;
        margin-bottom: 4vh;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .round{
        width: 100%;
    }
    .deck{
        display: flex;
        position: relative;
        width: 93%; /////////////////////////
        height: 89vw;
        margin-bottom: 8%;
    }
    .deck-container{
        width: 50%;////////////////////////////
        margin-bottom: 24px;
        margin-left: auto;
        margin-right:auto;
        padding: 0;
        border: dashed black;
    }
    .flashcard {
        width: 93%;//////////////////////////
        position: absolute;
        height:100%;
        border-radius:8px;
        margin-bottom:4px;
        box-shadow: 0px 3px 5px rgba(0,0,0,.5);

        border:1px solid #726A53;
        background-color:#F8F5ED;
        overflow:hidden;
        padding:8px;
        box-sizing:border-box;
        transition: 0.6s;
        font-size:18px;
        z-index:0;
    }
    .container-4-deck-container{
        display:flex;
        max-width: 100%;
        justify-content: space-around;
        flex-direction: row;
    }
}

/*Nest Hub*/
@media (height:600px) and (width: 1024px){
    p.card-text{
        font-size: large;
    }
   body{
        background-color: orange;
   }
   #create-deck-button{
        display: flex;
        width:100%;
        margin-bottom:4vh;
        justify-content: center;
        align-items: center;
    }
    .round{
        width: 10% !important;
        border-radius: 50%;
        text-align: center;
    }
    .deck{
        display: flex;
        position: relative;
        width: 100%;//////////////////////////////////
        height: 415px;
        margin-bottom: 4%;
    }
    .deck-container{
        width: 35%;/////////////////////////////////
        margin-bottom: 24px;
        margin-left: auto;
        margin-right:auto;
        padding: 0;
        border: dashed black;
    }
    .flashcard {
        width:100%;///////////////////////////////////
        position: absolute;
        top:0%;
        right:0%;
        height:100%;
        border-radius:8px;
        margin-bottom:4px;
        box-shadow: 0px 3px 5px rgba(0,0,0,.5);

        border:1px solid #726A53;
        background-color:#F8F5ED;
        overflow:hidden;
        padding:8px;
        box-sizing:border-box;
        transition: 0.6s;
        font-size:18px;
        z-index:0;
    }
    .container-4-deck-container{
        display:flex;
        max-width: 100%;
        justify-content: space-around;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1023.89px){
    body {
        background-color: blue;
    }
    #create-deck-button{
        display: flex;
        width:100%;
        margin-bottom:4vh;
        justify-content: center;
        align-items: center;
    }
    .round{
        width: 10% !important;
        border-radius: 50%;
        text-align: center;
    }
    .deck{
        display: flex;
        position: relative;
        width: 100%;//////////////////////////////////
        height: 500px;
        margin-bottom: 4%;
    }
    .deck-container{
        width: 42%;/////////////////////////////////
        margin-bottom: 24px;
        margin-left: auto;
        margin-right:auto;
        padding: 0;
        border: dashed black;
    }
    .flashcard {
        width:100%;///////////////////////////////////
        position: absolute;
        top:0%;
        right:0%;
        height:100%;
        border-radius:8px;
        margin-bottom:4px;
        box-shadow: 0px 3px 5px rgba(0,0,0,.5);

        border:1px solid #726A53;
        background-color:#F8F5ED;
        overflow:hidden;
        padding:8px;
        box-sizing:border-box;
        transition: 0.6s;
        font-size:18px;
        z-index:0;
    }
    .container-4-deck-container{
        display:flex;
        max-width: 100%;
        justify-content: space-around;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1024px) and (max-width: 1280px){
    ////HEADER styles
    header{
        background: #343440;
        margin-bottom: 4%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2%;
        height: 15vh;
        position: relative;
    }
    ////HEADER ends
    body {
        background-color: green;
    }
    #create-deck-button{
        display: flex;
        width:100%;
        margin-bottom:4vh;
        justify-content: center;
        align-items: center;
    }
    .round{
        width: 10% !important;
        border-radius: 50%;
        text-align: center;
    }
    .deck{
        display: flex;
        position: relative;
        width: 364px;///////////////////////
        height: 500px;
        margin-bottom: 4%;
        /*bottom:55%;
    right:22%;
    padding:10px;
    transform:translateZ(0);*/
    }
    .deck-container{
        width: 30%;////////////////////////
        margin-bottom: 24px;
        margin: auto;
        padding: 0;
        border: dashed black;
    }
    .flashcard {
        width:350px;/////////////////////////
        position: absolute;
        top:0%;
        right:0%;
        height:100%;
        border-radius:8px;
        margin-bottom:4px;
        box-shadow: 0px 3px 5px rgba(0,0,0,.5);

        border:1px solid #726A53;
        background-color:#F8F5ED;
        overflow:hidden;
        padding:8px;
        box-sizing:border-box;
        transition: 0.6s;
        font-size:18px;
        z-index:0;
    }
    .container-4-deck-container{
        display:flex;
        max-width: 100%;
        justify-content: space-around;
    }
    p.card-text{
        font-size: large;
    }
}

/* Media Query for Large screens */
@media (min-width: 1280.89px) {
    body {
        background-color: white;
    }
    p.card-text{
        font-size: inherit;
    }
    ////HEADER styles
    header{
        background: #343440;
        margin-bottom: 4%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 2%;
        height: 15vh;
        position: relative;
    }
    ////HEADER ends
    #create-deck-button{
        display: flex;
        width:100%;
        margin-bottom:4vh;
        justify-content: center;
        align-items: center;
    }
    .round{
        width: 10% !important;
        border-radius: 50%;
        text-align: center;
    }
    .deck{
        display: flex;
        position: relative;
        width: 364px;///////////////////////
        height: 500px;
        margin-bottom: 4%;
    }
    .deck-container{
        width: 16%;////////////////////////
        margin: 0px 40px 0px 40px;
        padding: 0;
        border: dashed black;
    }
    .flashcard {
        width:350px;/////////////////////////
        position: absolute;
        top:0%;
        right:0%;
        height:100%;
        border-radius:8px;
        margin-bottom:4px;
        box-shadow: 0px 3px 5px rgba(0,0,0,.5);

        border:1px solid #726A53;
        background-color:#F8F5ED;
        overflow:hidden;
        padding:8px;
        box-sizing:border-box;
        transition: 0.6s;
        font-size:18px;
        z-index:0;
    }
    .container-4-deck-container{
        display:flex;
        max-width: 100%;
        justify-content: space-evenly;
    }
}
